{% extends "::layout.html.twig" %}

{% block title %} {{parent()}} - Inscription {% endblock %}

{% block body %}

    <h1>Inscription</h1>
    <br/>

    <div class="well">

        {{form(form)}}

    </div>

{% endblock %}
