<div class="col-md-2" id="menu">

    <a href="{{path('apa_platform_adminIndex')}}">
        <div class="item active menuAccueil">
            <img class="tab1"src="{{asset("img/taborGrey.png")}}"/>
            <p><strong>Accueil</strong></p>
        </div>
    </a>

    <a href="{{path('apa_platform_adminListe')}}">
        <div class="item">
            <p><strong>Liste des utilisateurs</strong></p>
        </div>
    </a>

    <a href="{{path('apa_platform_addUser')}}">
        <div class="item">
            <p><strong>Inscrire un utilisateur</strong></p>
        </div>
    </a>

</div>
