<div class="container">
	<div class="row">
	  <div class="page">
                        <div class="metr">
                         <a class="metrostyle orgmetro" style="cursor: pointer" href="{{path('apa_platform_adminListe')}}">


                             <span style="color: black; float: left; margin-top: 45px; text-align:center;font-family:'Verdana';">Ajouter des utilisateurs </span>
                         </a>
                         <a class="metrostyle eenmetro" style="cursor: pointer" href="">

														<span style="color: black; float: left; margin-top: 55px; margin-left:10px;  font-family:'Verdana';">Liste et groupes</span>
														</a>

                         <a style="cursor: pointer" class="metrostyle metrostylelarge  boometro" href="{{path('apa_platform_addUser')}}">

                                <span style="color:black; float: left; margin-top:55px; margin-left:68px;font-family:'Verdana';">...</span>
                            </a>





                     </div>


               </div>
	</div>
</div>
