{% extends "::layout.html.twig" %}

{% block title %} {{ parent() }} - Contacts {% endblock %}

{% block body %}

    <h2 class="text-center"> Liste des membres du groupe </h2>


    {% for user in listUsers %}

        {% if user.id != currentUser.id %}
        <div class="container card">

            <div class="row"><em>{{user.nom}} {{user.prenom}}</em></div>
            {# A FAIRE: NOM AUTEUR #}

            <div class="col-md-3 offset-9">
                <a class="btn btn-primary" href="">Envoyer un message</a>
            </div>

        </div>
        {% endif %}

    {% endfor %}


{% endblock %}
