{% extends "::layout.html.twig" %}

{% block title %} {{ parent() }} - Contacts {% endblock %}

{% block body %}

    <h2 class="text-center"> Liste des membres du groupe </h2>


    <table class="table table-hover table-sm">
        <thead>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% for user in listUsers %}

                {% if user.id != currentUser.id %}
                <tr>

                    <td><strong>{{user.nom}} {{user.prenom}}</strong></td>

                    <td class="btn-group-vertical btn-group-sm text-right">
                        <a class="btn btn-sm btn-primary" href="{{path('apa_message_sendMessage', {'id':user.id})}}">Envoyer un message</a>
                    </td>

                <tr>
                {% endif %}

            {% endfor %}
        </tbody>
    </table>

{% endblock %}
