{% extends "::layout.html.twig" %}

{% block title %} {{ parent() }} - Envoi d'un message {% endblock %}

{% block body %}

    <h4>Envoi d'un message à {{targetUser.nom}} {{targetUser.prenom}}</h4>

    {{ form(form) }}

{% endblock %}
