<<<<<<< HEAD
        <div class="col-md-2" style="background-color: lightgray">
=======
        <div class="col-md-2" style="background-color: rgba(42, 34, 65, 1);">
>>>>>>> master

            <div class="">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>

            <a href="#">
                <div class="item active">
                    <span class="glyphicon glyphicon-th-list"></span>
<<<<<<< HEAD
                    Acceuil
=======
                    Accueil
>>>>>>> master
                </div>
            </a>

            <a href="#">
                <div class="item">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Dossiers & fichiers
                </div>
            </a>
<<<<<<< HEAD

                <div class="item">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Equipe
                </div>
=======
                <a href="#">
                <div class="item">
                    <span class="glyphicon glyphicon-log-in"></span>
                    Équipe
                </div>
                </a>
>>>>>>> master

            <a href="#">
                <div class="item">
                    <span class="glyphicon glyphicon-random"></span>
<<<<<<< HEAD
                    Message
                </div>
            </a>

            <div class="item">
                <span class="glyphicon glyphicon-remove"></span>
                    Parametre
            </div>

=======
                    Messages
                </div>
            </a>

            <a href="#">
            <div class="item">
                <span class="glyphicon glyphicon-use"></span>
                    Ma fiche
            </div>
             </a>

            <a href="#">
            <div class="item">
                <span class="glyphicon glyphicon-remove"></span>
                    Paramètres
            </div>
            </a>
>>>>>>> master
        </div>
