

<section id="middle">


<article><div><img class="pdf"src="{{asset("img/files.png")}}"/><p class="middle text">Dossiers et fichiers</p></div></article>
<article><p class="middle text">Équipe</p></article>
<article><p class="middle text">Message</p></article>
<article><p class="middle text">Ma fiche</p></article>

</section>

<section id="right">

<article><p>Paramètres</p></article>

</section>


<style type="text/css">

html, body{margin:0;padding:0;height:100%;}
article{box-sizing: border-box;}



main {

 display:flex;
 height:93.55%;
 width:100%;
 background-color:red;
}




#middle {
display:flex;
flex-wrap: wrap;
align-content: stretch;
width:60%;
height:100%;
}

#middle article {
  background-color: #9AB4CB;
  border: 1px solid  rgba(57,106,146,0.3);
  width:50%;
  display:flex;


}

#middle article div {
 margin:auto;
 text-align:center;
}

#middle article img {
 width:60%;
 height:auto;
}

#right {
 display: flex;
 flex:3;
 background-color: #396A92;
 border: 1px solid  rgba(57,106,146,0.3);
 height:100%;

}

#right article {

 margin: auto;
}
