<div class="container">
	<div class="row">
	  <div class="page">
                        <div class="metr">
                         <a class="metrostyle orgmetro" style="cursor: pointer" href="#">

                             <span class="fa fa-users" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px;float:left"></span>
                             <span style="color: white; float: left; margin-top: 60px; margin-left: 18px;">Accueil</span>
                         </a>
                         <a class="metrostyle eenmetro" style="cursor: pointer" href="#">

                             <span class="fa fa-cogs" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                             <span style="color: white; float: left; margin-top: 25px; margin-left: 15px ;margin-right:50px"> Fichiers/dossiers</span>

                         </a>
                         <a style="cursor: pointer" class="metrostyle metrostylelarge  boometro" href="#">
                                <span class="fa fa-hospital-o" style="font-size:2em;color:white;padding-left:0.3em;margin-top:3px;float:left"></span>
                                <span style="color:white;float:left;margin-top:25px;margin-left:50px;margin-right:180px">Équipe</span>
                            </a>
                         <a class="metrostyle reemetro" style="cursor: pointer" href="#">
                             <span class="fa fa-medkit" style="font-size: 2em; color: white; padding-left: 0.3em ; margin-top: 3px ;float:left"></span>
                             <span style="color: white; float: left; margin-top: 25px; margin-left: 38px;margin-right:80px">Messages </span>
                         </a>
                         <a class="metrostyle yoometro" style="cursor: pointer" href="#">

                             <span class="fa fa-stethoscope" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                             <span style="color: white; float: left; margin-top: 63px; margin-left: 16px;">Ma fiche</span>
                         </a>

												 <a class="metrostyle yoometro" style="cursor: pointer" href="#">

                             <span class="fa fa-stethoscope" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                             <span style="color: white; float: left; margin-top: 25px; margin-left: 35px;margin-right:80px">Paramètres</span>
                         </a>

               </div>
	</div>
</div>
