{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Acceuil{% endblock %}

{% block body %}

    <div class="jumbotron">
    <h1 class="text-center">Bienvenue sur la plateforme APANice.</h1>
    <br/>
    <p>Il n'y a pas grand chose pour le moment, à part:</p>
    <ul>
        <li class="list-group-item">Le layout général.</li>
        <li class="list-group-item">Sécurité par pare feu.</li>
        <li class="list-group-item">Système CRUD pour l'admin.</li>
    </ul>
    </div>

    <em>Vous êtes connecté en tant que: {{app.user.username}}</em>

    <br/>

    <img src="http://autonomconseil.com/wp-content/uploads/activit%C3%A9-physique.png">

{% endblock %}
