{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Acceuil{% endblock %}



{% block body %}

    <div class="container">
	<div class="row">
	  <div class="page">
                        <div class="metr">
                         <a class="metrostyle orgmetro" style="cursor: pointer" href="{{path('apa_platform_adminIndex')}}">

                             <span class="fa fa-users" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px;float:left"></span>
                             <span style="color: white; font-size: 1.1em; float: right; margin-top: 5px; padding-right: 0.2em">7</span>
                             <span style="color: white; float: left; margin-top: 35px; margin-left: 10px;margin-right:80px">Administrateur</span>
                         </a>
                         <a class="metrostyle eenmetro" style="cursor: pointer" href="">

                             <span class="fa fa-cogs" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                             <span style="color: white; font-size:  1.1em; float: right; margin-top: 5px; padding-right: 0.2em">71</span>
                             <span style="color: white; float: left; margin-top: 35px; margin-left: 10px ;margin-right:50px">User Logging </span>

                         </a>
                         <a style="cursor: pointer" class="metrostyle metrostylelarge  boometro" href="{{path('apa_platform_addUser')}}">
                                <span class="fa fa-hospital-o" style="font-size:2em;color:white;padding-left:0.3em;margin-top:3px;float:left"></span>
                                <span style="color:white;font-size: 1.1em;float:right;margin-top:5px;padding-right:0.2em">37</span>
                                <span style="color:white;float:left;margin-top:35px;margin-left:10px;margin-right:180px">Ajouter un utilisateur </span>
                            </a>
                         <a class="metrostyle reemetro" style="cursor: pointer" href="#">
                             <span class="fa fa-medkit" style="font-size: 2em; color: white; padding-left: 0.3em ; margin-top: 3px ;float:left"></span>
                             <span style="color: white; font-size:  1.1em; float: right; margin-top: 5px; padding-right: 0.2em">27</span>
                             <span style="color: white; float: left; margin-top: 35px; margin-left: 10px;margin-right:80px">???? </span>
                         </a>
                         <a class="metrostyle yoometro" style="cursor: pointer" href="#">

                             <span class="fa fa-stethoscope" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                             <span style="color: white; font-size:  1.1em; float: right; margin-top: 5px; padding-right: 0.2em">17</span>
                             <span style="color: white; float: left; margin-top: 35px; margin-left: 10px;margin-right:80px">????</span>
                         </a>
                     </div>
               </div>
	</div>
</div>

{% endblock %}
