{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Acceuil{% endblock %}

{% block body %}

    <h1>Bienvenue sur la plateforme APANice.</h1>

    <p>Il n'y a pas grand chose pour le moment, à part:</p>
    <ul>
        <li>Sécurité par pare feu.</li>
        <li>Inscription utilisateurs par l'admin.</li>
    </ul>

    <em>Vous êtes connecté en tant que: {{app.user.username}}</em>

    <br/>

    <img src="http://autonomconseil.com/wp-content/uploads/activit%C3%A9-physique.png">

{% endblock %}
