<!doctype html>

<html>

    <head>
        <title>APANice - Connexion</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/login.css') }}">
    </head>

    <body>

    <div class="container">
    <div class="row" id="pwd-container">
<div class="col-md-4"></div>
    <div class="col-md-4">

      <section class="login-form">

        <form action="{{ path('login_check') }}" method="post" role="login">

            <img src="http://www.botoxs.fr/visiteursdusoir/img/logo_ville_nice.png" class="img-responsive" height="200" width="300" alt="" />

            {% if error %}
                <div class="alert alert-danger">Identifiants non reconnus.</div>
            {% endif %}
            <label for="username">Votre identifiant de connexion :</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Identifiant de connexion" />

            <label for="password">Votre mot de passe :</label>
            <input class="form-control" type="password" id="password" name="_password" placeholder="Mot de passe"/>

            <div class="pwstrength_viewport_progress"></div>

            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Connexion" />

        </form>
    </section>

    </div>
    </div>
    </div>
    </body>

</html>
