{% extends "::layout.html.twig" %}

{% block title %} {{parent()}} - Acceuil {% endblock %}

{% block body %}

    <p>Hello hello, Ceci est la plateforme médecin/nutritionniste ("doc" pour faire court)</p>
    <br>
    <p>Elle sert à envoier des fichiers pdf sur la plateforme.</p>

{% endblock %}
