<div class="col-md-2" id="menu">

    <a href="{{path('apa_platform_docIndex')}}">
        <div class="item active menuAccueil">
            <img class="tab1"src="{{asset("img/taborGrey.png")}}"/>
            <p><strong>Accueil</strong></p>
        </div>
    </a>

</div>
